article p {
  margin: 1rem 0;
}

article ul,
article ol {
  margin: 1.25rem 0;
  padding-left: 2rem;
}

article li {
  margin: 0.2rem 0;
}

article hr {
  margin: 2.5rem 0;
  border: none;
  border-top: 1px solid;
  opacity: 0.3;
}
