.cvpromptContainer {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.intro {
    max-width: 80%;
    padding: 0 2rem 0 2rem;
}

.cvpromptForm {
    width: 100%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    textarea {
        width: 100%;
        height: 30px;
        line-height: 30px;
        
        resize: none;
        border: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        background-color: transparent;
        color: white;
        font-size: larger;
    }

    textarea::placeholder {
        color: #c9cdcf;
    }

    .primary-button {
        padding: 8px 30px 8px 30px;
    }
}

.project {
    border: 1px solid #2dd4bf59;
    border-radius: 15px;
    padding: 20px;

    opacity: 0;
    transform: translateX(100%);
    transition:
        opacity 1s ease-out,
        transform 0.5s ease-out;

    h3 {
        margin-bottom: 0;
    }

    p {
        font-style: italic;
        font-size: small;
        margin-bottom: 1rem;
    }

    .chunks {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .chunk {
            width: 100%;
            padding-left: 2rem;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
    }

}

.project.show {
    opacity: 1;
    transform: translateX(0);
}

.results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactme {
    margin-top: 5rem;
    text-align: center;
    font-style: italic;
}