{{ define "main" }}
  <div class="hero">
    <div class="intro">
      <h1 class="title">Machine Learning Engineer</h1>
      <p class="subtitle">
        Je conçois et déploie des modèles intelligents, en accompagnant chaque étape : du choix de l’algorithme à la mise en production. Je mets à profit mes compétences scientifiques et techniques pour créer des solutions robustes, efficaces et directement applicables à des problèmes réels.
      </p>
      <div class="primary-button see-projects">Voir mes projets</div>
    </div>
    <div class="picture">
      {{ with resources.Get "images/photo_pro_olivier_petit_modif.png" }}
        {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
          <img src="{{ .RelPermalink }}"/>
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="research-activities">
    <h2>Travaux de Recherche</h2>
    <div class="content-card research-activities-content">
      Après avoir obtenu mon diplôme d'ingénieur en informatique, j'ai rejoint le 
      laboratoire CEDRIC pour y réaliser une thèse en intelligence artificielle 
      appliquée à l'imagerie médicale. J'ai créé de nouvelles architectures de 
      réseaux de neurones profonds afin d'améliorer la segmentation d'organes sur 
      des images de scanner de l'abdomen.
    </div>
    <div class="research-activities-link">
      <a href="/publications">Retrouver l'ensemble de mes travaux ici →</a>
    </div>
  </div>
{{ end }}
